.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container{
  background-color: #fff;
  width: 50%;
  height: 50%;

}

.editor-placeholder {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  right: 10px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;

}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}
